altgraph
ffmpeg-python
future
MouseInfo
packaging
pefile
pillow
PyAutoGUI
pydub
pygame
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
PyPDF2
pyperclip
PyRect
PyScreeze
pytweening
pywin32-ctypes
setuptools
